.scroll{

height:500px;
width:540px;
overflow:scroll;
scrollbar-base-color:blue;
font-family:sans-serif;
padding:10px;
}


.scrolll{

height:100px;
width:540px;
overflow:scroll;
scrollbar-base-color:blue;
font-family:sans-serif;
padding:10px;
}