{% extends 'produit/base.html' %}

{% block body %}

{%for post in posts%}
  <div class="container-fluid" style=" position: relative; right: 90px;">

      <div class="force-overflow" >
      </div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <div class="row" style="margin-bottom: -255px;">
    <div class="comments-container product" style="position: relative; left: 90px;">
                <ul class="comments-list reply-list" >
                    <li>
                        <!-- Avatar -->
                        <div class="comment-avatar" style=" position: relative; top : 40px; right: 50px;"><img src="{{ post.user.profile.get_picture }}" alt=""></div>

                    </li>


                    <li>
                        <!-- Avatar -->
                        <!-- Contenedor del Comentario -->
                        <div class="comment-box" >
                            <div class="comment-head">
                                <h6 class="comment-name by-author"><a href="{% url 'user_post' post.user %}">{{post.user.username}}</a></h6>
                                <span>{{post.date}}</span>
                               <i>{% include 'reaction/post_interaction.html' with  liked=liked  %}</i>
                               <i>{% include 'reaction/comment_reaction.html' with  comment=comment  %}</i>

                            </div>
                            <div class="comment-content">
                                  {{post.post}}
                                <br>
                                {% if post.image.url != None %}
                                  <img src="{{post.image.url}}" style="width: 20%; height: 20%;">
                                {% endif %}
                            </div>



                            </div>
                    </li>
                    </ul>


{% include 'post/commentaire.html' with form=form post=post %}

<div class="scrollbarr"  >

{%for comment in post.commentaire_set.all %}
        {% include "post/comment.html" with comment=comment %}
{%endfor%}
</div>
    </div>

    </div>
</div>

{% endfor %}
    <div  style="position: relative; top: -2550px;">
<div id='cssmenu'>
<ul>

   <li class='active has-sub' ><a href='#'><span style="font-family:  Georgia,serif;">categorie filter</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span><li>
     <form  method="get" action="{% url 'categoriefilter' %} "  style="position: relative; top : -200px;">
<span>
    <button class="sub_icon btn btn-outline-success my-2 " name="categorie__name" value="bijoux" type="submit" style="border-radius: 50%; color: green;">bijoux({{bijoux}})</button>
    <br>
    <button class="sub_icon btn btn-outline-success my-2 my-sm-0" name="categorie__name" value="maison et ameublement" type="submit" style="border-radius: 50%; color: green;">maison et ameublement({{bijoux1}})</button>
        <br>
    <button class="sub_icon btn btn-outline-success my-2 my-sm-0" name="categorie__name" value="vetements" type="submit" style="border-radius: 50%; color: green;">vetements({{bijoux2}})</button>
        <br>
    <button class="sub_icon btn btn-outline-success my-2 my-sm-0" name="categorie__name" value="art et collections" type="submit" style="border-radius: 50%; color: green;">art et collections({{bijoux3}})</button>
        <br>
    <button class="sub_icon btn btn-outline-success my-2 my-sm-0" name="categorie__name" value="accessoires" type="submit" style="border-radius: 50%; color: green;">accessoires({{bijoux4}})</button>
        <br>
    <button class="sub_icon btn btn-outline-success my-2 my-sm-0" name="categorie__name" value="sacs et bagages" type="submit" style="border-radius: 50%; color: green;">sacs et bagages({{bijoux5}})</button>
        <br>
     <button class="sub_icon btn btn-outline-success my-2 my-sm-0" name="categorie__name" value="mariage" type="submit" style="border-radius: 50%; color: green;">mariage({{bijoux6}})</button>
</span>
     </form>
</li>

</ul>
</li>
</ul>
      </div>
</div>

 <script>



$( document ).ready(function() {


        function SlideUp(){

            $('#cssmenu li.has-sub>a').removeAttr('href');
		    var e = $('#cssmenu li.has-sub>a').parent('li');

            e.removeClass('open');
			e.find('li').removeClass('open');
			e.find('ul').slideUp();
        }
        function SlideDown(e){
            $('#cssmenu li.has-sub>a').removeAttr('href');
		    var e = $('#cssmenu li.has-sub>a').parent('li');
            e.addClass('open');
			e.children('ul').slideDown();
			e.siblings('li').children('ul').slideUp();
			e.siblings('li').removeClass('open');
			e.siblings('li').find('li').removeClass('open');
			e.siblings('li').find('ul').slideUp();
        }


SlideDown();
    $('#cssmenu li.has-sub>a').on('click', function(){


		var element = $(this).parent('li');


		if (element.hasClass('open')) {
			SlideUp();
		}
		else {
			SlideDown();
		}
	});//--End function


});//---End Jquery

</script>
{% endblock %}


